{% extends 'web/base.html' %}
{% load static %}


{% block content %}
{% include 'includes/header-2.html' %}

    <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-cover text-center text-light" style="background-image: url({% static 'web/img/2440x1578.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Services Details</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Services</a></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Star Project Details Area
    ============================================= -->
    <div class="project-details-area default-padding">
        <div class="container">
            <div class="project-details-items">
                <div class="top-info">
                    <img src="{{ project.image.crop.1500x700 }}" alt="Thumb">
                    <div class="project-info">
                        <h3>Project Info</h3>
                        <ul>
                            <li>
                                Client <span>Avedi</span>
                            </li>
                            <li>
                                Date <span>25 Aug, 2021</span>
                            </li>
                            <li>
                                Category <span>{{project.get_category_display| slugify}}</span>
                            </li>
                            <li>
                                Address <span>California, TX 70240</span>
                            </li>
                        </ul>
                        <div class="share">
                            <h4>Media Share:</h4>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <h2>{{project.title}}</h2>
                    <p>
                        New had happen unable uneasy. Drawings can followed improved out sociable not. Earnestly so do instantly pretended. See general few civilly amiable pleased account carried. Excellence projecting is devonshire dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy son themselves.
                    </p>
                    <p>
                      {{project.details}}
                   </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ project.image.crop.800x600 }}" alt="Thumb">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <img src="{{ project.image.crop.800x600 }}" alt="Thumb">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Project Details Area -->
    {% endblock %}
